/* RESET */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    overflow-x: hidden;
}

/* HEADER */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #3b576d;
    background-image: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;       
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;        
}
.social-media {
    margin-top: 1rem;
    display: flex;    
}
.social-media a {
    text-decoration: none;
    color: #111;
    padding: 1rem 4rem;
    border: 1px solid #111;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover {
    background-color: #fff;
}
/* MENU HAMBURGER */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace {
    width: 50px;
    height: 3px;
    background-color: #111;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}
#toggle {
    display: none;
}
/* MENU */
.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #fff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-itens ul {
    list-style-type: none;
}
.menu-itens ul li a {
    margin: 10px 0;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}
section {  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 0;
    padding: 0;
    width: 100%;    
    background-color: rgb(245, 237, 237);   
}
section h2 {
    text-align: center;
    color: rgb(109, 109, 109);
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills h1 {
    text-align: center;
    color: rgb(109, 109, 109);    
}
.skills img {
    max-width: 50px;
    padding: 10px;         
}
/* ANIMAÇÃO DO MENU */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}
#toggle:checked + .checkbox {
    background-color: #fff;
}
#toggle:checked ~ .menu {
    box-shadow: 300px 300px 300px 100vmax #fff;
    z-index: 1;    
}
#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}
/* CARDS */
.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}
.card-container {
    display: flex;      
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.card-wrapper1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #3b576d;
    background-image: url('img/lavacar.jpeg');    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;   
}
.card-wrapper2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #3b576d;
    background-image: url('img/construtora.jpg');    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;    
}
.card-wrapper1 a, .card-wrapper2 a {
    position: relative;          
    background-color: transparent;   
    text-decoration: none;
    font-size: 20px;    
    color: yellowgreen;
}
.card-text {
    width: 40%;    
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    text-align: center;
}
.card-text b {
    font-size: 30px;
}
.card-wrapper1, .card-wrapper2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper1::before, .card-wrapper2::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper1 h2, .card-wrapper2 h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper1 p, .card-wrapper2 p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.card:hover {
    filter: unset;
}
.card:hover > .card-wrapper1::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}
.card:hover > .card-wrapper2::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}
.card:hover > .card-wrapper1 p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.card:hover > .card-wrapper2 p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #3b576d;
    color: #111;
}
.footer a img{
    max-width: 30px;  
    padding-left: 15px;  
}

@media (max-width: 850px) {        
    .header-container {                   
        display: flex;   
        justify-content: center;   
        align-items: flex-start;   
        width: 100%; 
        padding: 10px;  
    }
    .header-container a {                
        padding: 15px;        
    }
    h1 {
        font-size: 40px;        
    }
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 450px) {           
    .header-container { 
        background-position: initial;  
        display: flex;   
        justify-content: flex-end;   
        align-items: center;   
        height: 700px;
        padding-bottom: 50px;
    }   
    h1 {
        font-size: 30px;
    } 
    h2 {
        font-size: 20px;
    }
    .social-media a {
        padding: 10px;
    }
    #toggle:checked ~ .menu {
        box-shadow: 350px 350px 450px 100vmax #fff;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;        
    }
    .card-text {
        width: 90%;
        padding: 15px;
        text-align: justify;
        text-align: center;
    }
    .footer {                    
        position: initial;
        font-size: 16px;
        text-align: center;        
    }
    .footer a img {
        margin-top: 10px;    
        padding-top: 10px
    }
}
